:root {
	--button-padding: 0.5em 1em;
	--button-border-radius: 0.5em;
	--button-border-color: #fff5;
	--button-bg-color: transparent;
	--button-color: #fff;
	--button-font-size: 1em;
	--button-hover-bg-color: #fff5;
	--button-hover-border-color: #fffc;
	--button-selected-bg-color: #fff;
	--button-selected-color: #000;
}

button {
	cursor: pointer;
	padding: var(--button-padding);
	border: 1px solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	background-color: var(--button-bg-color);
	color: var(--button-color);
	user-select: none;
	font-size: var(--button-font-size);
}

button:hover {
	border-color: var(--button-hover-border-color);
}

button.selected {
	background-color: var(--button-selected-bg-color);
	color: var(--button-selected-color);
}

button.check {
	position: relative;
}

button.check::after {
	content: '✓';
	font-weight: bold;
	font-size: 1.5em;
	color: #40ff0d;
	position: absolute;
	right: -0.5em;
	top: -0.6em;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
}

button.check.done::after {
	opacity: 1;
	transition: opacity 0s;
}

button.check.failed::after {
	content: '✗';
	color: #ff4040;
	opacity: 1;
	transition: opacity 0s;
}
