button {
	cursor: pointer;
	padding: var(--button-padding);
	border: 1px solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	background-color: var(--button-bg-color);
	color: var(--button-color);
	user-select: none;
	font-size: var(--button-font-size);
	transition:
		background-color 0.1s,
		border-color 0.1s;
}

button.selected {
	background-color: var(--button-selected-bg-color) !important;
	color: var(--button-selected-color);
}

button:hover {
	background-color: var(--button-hover-bg-color);
	border-color: var(--button-hover-border-color);
}

button.check {
	position: relative;
}

button.check::after {
	content: '✓';
	font-weight: bold;
	font-size: 1.5em;
	color: #40ff0d;
	position: absolute;
	right: -0.5em;
	top: -0.6em;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
}

button.check.done::after {
	opacity: 1;
	transition: opacity 0s;
}

button.check.failed::after {
	content: '✗';
	color: #ff4040;
	opacity: 1;
	transition: opacity 0s;
}
