button {
	cursor: pointer;
	padding: var(--button-padding);
	border: 1px solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	background-color: var(--button-bg-color);
	color: var(--button-color);
	user-select: none;
	font-size: var(--button-font-size);
	transition:
		background-color 0.3s,
		border-color 0.3s;
}

button.selected {
	background-color: var(--button-selected-bg-color) !important;
	color: var(--button-selected-color);
}

button:hover {
	background-color: var(--button-hover-bg-color);
	border-color: var(--button-hover-border-color);
}